.card-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
	.card{
		border: none;
		flex-direction: row;
	}
	.card img {
  width: 30%;
}
	#text1{
	color: white;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;;

}
#text2{
	color: black;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;;

}
	#bg1{
		background-color: lightgray;
		
		

	}
	#bg2{
		height: 230px;
		background-color:#0C2657 ;

	}
	#bg3{
		height: 480px;
		padding-top: 100px;
		background-color: #0C2657

		
	}
	#bg4{
		background-color:white;
		/*height: 900px;*/
		padding: 30px;

	}
	#text3{
		font-size: 40px;
		font-weight: bold;
		color: white;
		font-family: 'Times New Roman', Times, serif;
	}
	#img1{
		height: 100px;
		width: 100px;
	}
	#img2{
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	#footer{
	font-size: 20px;
	font-weight: bold;
	color: black;
	padding: 30px;
}
#icon1{
	background-color: cyan;
	padding: 10px;
	color: white;
	width: 150px;
}
#ss{
	color: white;
	font-weight: bold;

}
#icon2{
	background-color: darkblue;
	padding: 10px;
	color: white;
	width: 150px;
}
#icon3{
	background-color: red;
	padding: 10px;
	color: white;
	width: 150px;
}
	#bt1{
		background-color: blue;
		color: white;
		font-weight: bold;
		border-radius: 5px;
		padding: 10px;
		border: none;
		width: 100px;
	}
 #sec{
    border-radius: 100px;
  }
